/**
.largeIcon{
	font-size: 50px;
	padding-left: 35px;
	padding-right: 35px;
}



a:hover{
	text-decoration:none;
}

.contenthover { padding:20px 20px 10px 20px; }
.contenthover, .contenthover h3, contenthover a { color:#fff; }
.contenthover h3, .contenthover p { margin:0 0 10px 0; line-height:1.4em; padding:0; }
.contenthover a.mybutton { display:block; float:left; padding:5px 10px; background:#3c9632; color:#fff; -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px; }
.contenthover a.mybutton:hover { background:#34742d }
**/


.navbar .nav{
	margin-top: 50px;
}

.navbar-inner{
	border-radius: 0;
}

a:hover{ opacity: 0.8; }

.promobox{
	display: block;
	text-align: center;
	margin-bottom: 20px;
}

.mailinglist{
	padding-top: 18px;
}

.boxes{
	padding-left: 35px;	
	padding-top: 5px;
}

.description{
	padding-top: 5px;
}

